body {
  padding: 1em;
  font-family: sans-serif;
  text-align: center;
}
.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color: #00B7FF;
}

.chart {
  width: 800px;
  height: 600px;
}

text {
  cursor: pointer;
}
